<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <include resource="file-appender.xml"/>
    <root level="DEBUG">
        <appender-ref ref="FileAppender"/>
    </root>
</configuration>