body {
    /*margin: 2%;*/
    color: #443131;
    /*background:#c8c8c8;*/
    /*background: url(../img/landscape-photos.jpg) no-repeat;*/
    /*background-size: cover;*/
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: #b6a2ad;
    text-decoration: none
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    max-hight: 700px;
    min-hight: 600px;
    min-height: 600px;
    position: relative;
    /*background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;*/
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 70px 50px 50px 50px;
    background: rgba(0, 0, 0, 0.34)
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    /*text-transform:uppercase;*/
    margin-left: auto;
    margin-right: auto;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    /*color: #eef8d3;*/
    color: #ffffff;
    /*border-color: #1161ee;*/
}

.login-form {
    min-height: 345px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 70%;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group max[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    /*color: #000000;*/
    color: #ffffff;
    font-size: 12px;
}

.login-form .group .button {
    /*background: #1161ee;*/
    background: transparent url('../img/social/linkedin/login-button-png.png');
    background-size: cover;
    max-width: 100px;
    min-width: 50px;
    max-height: 60px;
    min-height: 20px;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    -webkit-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    -webkit-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

.linkedin-button {
    /*background-color: #4CAF50;*/
    /*opacity: 0.1;*/
    position: absolute;
    max-width: 250px;
    max-height: 80px;
    min-width: 200px;
    min-height: 35px;
    background: transparent url('../img/social/linkedin/signupwithlinkedin.png');
    background-size: cover;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.sign-up-button {
    /*background-color: #4CAF50;*/
    /*opacity: 0.1;*/
    position: absolute;
    max-width: 200px;
    max-height: 80px;
    min-width: 100px;
    min-height: 35px;
    background: transparent url('../img/social/linkedin/sign-up-button.png');
    background-size: cover;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 600px;
    cursor: pointer;
    right: 10%;
    bottom: 2%;
}

.sign-in-button {
    /*background-color: #4CAF50;*/
    /*opacity: 0.1;*/
    position: absolute;
    max-width: 200px;
    max-height: 80px;
    min-width: 100px;
    min-height: 35px;
    background: transparent url('../img/social/linkedin/login-button-png.png');
    background-size: cover;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 600px;
    cursor: pointer;
    right: 10%;
    bottom: 2%;
}

.fieldset {
    position: relative;
}