<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<!--@thymesVar id="profile" type="com.cicidi.home.domain.resume.Profile"-->
<!--@thymesVar id="objective" type="com.cicidi.home.domain.resume.Objective"-->
<!--@thymesVar id="homeViewObject" type="com.cicidi.home.domain.vo.HomeViewObject"-->
<!--@thymesVar id="job" type="com.cicidi.home.domain.resume.WorkExperience"-->
<!--@thymesVar id="webLogList" type="List<com.cicidi.home.domain.resume.WebLog>"-->
<!--@thymesVar id="webLog" type="List<com.cicidi.home.domain.vo.WebLog>"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Responsive One Page website template</title>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>
    <script type="text/javascript" src="js/jquery.simplemodal.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

    <![endif]-->
</head>
<body class="size-1140">
<!-- TOP NAV WITH LOGO -->
<header>
    <div id="topbar">
        <div class="line">
            <div class="s-12 m-6 l-6">

                <p>CONTACT ME:
                    <!--<span-->
                    <!--th:text="${profile.contact.email}"></span>-->

                    <tr th:each="link,iterationStatus  : ${profile.contact.linkList}">
                        <td th:if="${#strings.containsIgnoreCase(link.name,'mail')}">
                        <span
                                th:text="${link.url}">

                        </span>
                        </td>
                    </tr>
                </p>
            </div>
            <div class="s-12 m-6 l-6">
                <div class="social right">
                    <!--<a><i class="icon-facebook_circle"></i></a> <a><i class="icon-twitter_circle"></i></a> <a><i-->
                    <!--class="icon-google_plus_circle"></i></a> <a><i class="icon-instagram_circle"></i></a>-->
                    <tr th:each="link,iterationStatus  : ${profile.contact.linkList}">
                        <!--<div th:if="${#strings.containsIgnoreCase(link.name,'git')}">-->
                        <!--<a th:href="${link.url}"-->
                        <!--th:title="${link.name}">-->
                        <!--<i style="margin-right: 0.5em; color: #EEEEEE;" th:class="${link.icon}"></i></a>-->
                        <td>
                            <a th:href="${link.url}"><i th:class="${link.icon}"></i> </a>
                        </td>
                    </tr>
                </div>

            </div>
        </div>
    </div>
    <nav>
        <div class="line">
            <div class="s-12 l-2">
                <p class="logo">
                    <span style="font-weight:bold" th:text="${profile.firstName}"></span> <span
                        th:text="${profile.lastName}"></span></p>
            </div>
            <div class="top-nav s-12 l-10">
                <p class="nav-text">Custom menu text</p>
                <ul class="right">
                    <li class="active-item"><a href="#carousel">carousel</a></li>
                    <li><a href="#about-me">About ME</a></li>
                    <li><a href="#my-exp">Code demo</a></li>
                    <li><a href="#features">TECHNOLOGY</a></li>

                    <li><a href="#skill-sets">Skill Set</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <!-- CAROUSEL -->
    <div id="carousel">

        <!--<div id="errorSpeedbump" class="modalContent">-->
        <!--<h3>Error Details</h3>-->

        <!--<div class="message">-->
        <!--<p id="viewError">Error message.</p>-->
        <!--</div>-->
        <!--</div>-->
        <div id="owl-demo" class="owl-carousel owl-theme">

            <div th:each="job,iterStat :${profile.workExperienceList}">
                <div class="item" th:attr="job-index=${iterStat.index}">
                    <div>
                        <img th:src="${job.photo}" alt="">

                        <div class="popup">

                            <P><span class="popuptext" th:id="${'popUp'+iterStat.index}"
                                     th:text="${job.name}"
                                     th:attr="jd-index=${iterStat.index}">A Simple Popup!</span>
                            </P>
                        </div>
                    </div>

                    <div class="line">
                        <div class="text hide-s">
                            <div class="line">
                                <div class="prev-arrow hide-s hide-m">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="next-arrow hide-s hide-m">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>

                            <h2 th:text="${job.name}"></h2>

                            <h3 th:text=" ${job.startName+' - '+job.endName+' • '+job.length+' • '+job.address.city+','+job.address.state}"></h3>


                            <tr style="padding: 0em" th:each="bullet:${job.bulletList}">
                                <td style="padding: inherit">
                                    <p class="jd" th:text=" ${bullet.content}"
                                       th:attr="jd-detail-val=${bullet.content}"></p>
                                </td>
                            </tr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIRST BLOCK -->

    <!--<div id="jd-detail-popup" class="modalContent">-->
    <!--<div class="message">-->
    <!--<p id="viewError">Error message.</p>-->
    <!--</div>-->
    <!--</div>-->

    <div id="about-me">
        <div id="first-block">
            <div class="line">
                <h1 th:text="${profile.objective.title}"></h1>

                <p th:text="${profile.objective.interests}"></p>

                <div class=" s-12 m-4 l-2 center"><a class="white-btn" href="#contact">Contact Me</a></div>
            </div>
        </div>
        <div class="s-12 m-12 l-3 media-container">
            <img th:src="${profile.objective.contentImg}" alt="">
        </div>
        <article class="s-12 m-9 l-6">
            <h2 th:text="${profile.objective.personalEstimate}"></h2>

            <p th:text="${profile.objective.whyCreateThisPage}"></p>

            <div class=" about-me-icons">

                <tr th:each="link,iterationStatus  : ${profile.contact.linkList}">
                    <!--<div th:if="${#strings.containsIgnoreCase(link.name,'git')}">-->
                    <td>
                        <div><a th:href="${link.url}"
                                th:title="${link.name}">
                            <i style="margin-right: 0.5em; color: #EEEEEE;" th:class="${link.icon}"></i></a>
                        </div>
                    </td>
                </tr>
                <!--<div><a th:if="${profile.contact.github!=null}" th:href="${profile.contact.github}" title="git hub"><i-->
                <!--style="margin-right: 0.5em; color: #EEEEEE;"-->
                <!--class="icon-git"></i></a></div>-->
                <!--<div th:each="link,iterationStatus  : ${profile.contact.linkList}">-->
                <!--<div th:if="${#strings.containsIgnoreCase(link.name,'linkedIn')}">-->
                <!--<a th:if="${profile.contact.github!=null}" th:href="${profile.contact.github}"-->
                <!--title="git hub">-->
                <!--<i style="margin-right: 0.5em; color: #EEEEEE;" class="icon-git"></i></a>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div><a th:if="${profile.contact.linkedIn!=null}" th:href="${profile.contact.linkedIn}"-->
                <!--title="linkedin"><i-->
                <!--style="margin-right: 0.5em; color: #EEEEEE;"-->
                <!--class="icon-linked_in"></i></a></div>-->

            </div>
        </article>
        <!--<i class="icon-paperplane_ico"> </i>-->
        <!--<i class="icon-trophy"></i>-->
        <!--<i class="icon-clock"></i>-->
    </div>

    <!-- CODE DEMO -->
    <div id="my-exp">
        <div class="line">
            <h2 class="section-title">MY EXPERIENCE</h2>

            <div class="tabs">
                <div class="tab-item tab-active">
                    <a class="tab-label active-btn">Web Design</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text">
                                    <h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por1.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por4.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por6.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por3.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <a class="tab-label">Development</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por7.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por5.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por1.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por2.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <a class="tab-label">Social Campaigns</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por4.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por6.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por3.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por5.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <a class="tab-label">Photography</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por7.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por2.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por5.jpg" alt=""></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Lorem Ipsum Dolor</h4>

                                    <p>Laoreet dolore magna aliquam erat volutpat.</p></div>
                                <img src="img/por6.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FEATURES -->
    <div id="features">
        <div class="line">
            <div class="margin">
                <tr th:each="item:${homeViewObject.feature.itemList}">
                    <td>
                        <div class="s-12 m-6 l-3 margin-bottom">
                            <!--<i class="icon-tablet icon3x"></i>-->
                            <i th:class="${item.src}"></i>

                            <h2 th:text="${item.header}"></h2>

                            <p th:text="${item.paragraph}"></p>
                        </div>
                    </td>
                </tr>
                <!--<div class="s-12 m-6 l-3 margin-bottom">-->
                <!--<i class="icon-isight icon3x"></i>-->

                <!--<h2>Clean design</h2>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
                <!--tincidunt-->
                <!--ut laoreet dolore magna aliquam erat volutpat adipiscing.</p>-->
                <!--</div>-->
                <!--<div class="s-12 m-6 l-3 margin-bottom">-->
                <!--<i class="icon-star icon3x"></i>-->

                <!--<h2>Valid code</h2>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
                <!--tincidunt-->
                <!--ut laoreet dolore magna erat volutpat.</p>-->
                <!--</div>-->
                <!--<div class="s-12 m-6 l-3 margin-bottom">-->
                <!--<i class="icon-heart icon3x"></i>-->

                <!--<h2>Totally free</h2>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
                <!--tincidunt-->
                <!--ut laoreet dolore magna aliquam erat volutpat nonummy.</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- ABOUT US -->


    <!-- SERVICES -->
    <div id="skill-sets">
        <div class="line">
            <h2 class="section-title">What we do</h2>

            <div class="margin">
                <div class="s-12 m-6 l-4 margin-bottom">
                    <i class="icon-vector"></i>

                    <div class="service-text">
                        <h3>We create</h3>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
                <div class="s-12 m-6 l-4 margin-bottom">
                    <i class="icon-eye"></i>

                    <div class="service-text">
                        <h3>We look to the future</h3>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
                <div class="s-12 m-12 l-4 margin-bottom">
                    <i class="icon-random"></i>

                    <div class="service-text">
                        <h3>We find a solution</h3>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LATEST NEWS -->
    <div id="latest-news">
        <div class="line">
            <h2 class="section-title">LATEST GIT CODE</h2>

            <div class="margin">
                <tr th:each="webLog:${webLogList}">
                    <td>
                        <div class="s-12 m-6 l-6">
                            <div class="s-12 l-2">
                                <div class="news-date">
                                    <p th:class="day" th:text="${webLog.day}"></p>

                                    <p th:class="month" th:text="${webLog.month}"></p>

                                    <p th:class="year" th:text="${webLog.year}"></p>
                                </div>
                            </div>
                            <div class="s-12 l-10">
                                <div class="news-text">
                                    <h4 th:text="${webLog.title}">Git check it</h4>

                                    <a th:href="${webLog.link}">
                                        <p th:text="${webLog.message}"></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </div>
        </div>
    </div>
    <!-- CONTACT -->
    <div id="contact">
        <div class="line">
            <h2 class="section-title">CONTECT ME</h2>

            <div class="margin">
                <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                    <img src="img/contact.jpg" alt="">
                </div>
                <div class="s-12 m-12 l-4 margin-bottom right-align">
                    <h3>Walter (Jianming) Chen </h3>
                    <address>
                        <!--<p th:text="${profile.contact.address.fullAddress}"><strong>Adress:</strong></p>-->

                        <!--<p th:text="${profile.contact.address.country}"><strong>Country:</strong></p>-->

                        <!--<p th:text="${profile.contact.email}"><strong>E-mail:</strong></p>-->

                        <p>
                            <span style="font-weight:bold">Adress:</span>
                            <span th:text="${profile.contact.address.fullAddress}"></span>
                        </p>

                        <p>
                            <span style="font-weight:bold">Country:</span>
                            <span th:text="${profile.contact.address.country}"></span>
                        </p>

                        <p>
                            <span style="font-weight:bold">E-mail:</span>

                            <tr th:each="link,iterationStatus  : ${profile.contact.linkList}">
                                <td>
                                    <span th:if="${#strings.containsIgnoreCase(link.name,'mail')}"><span
                                            th:text="${link.url}"></span>
                                     </span>
                                </td>
                            </tr>
                        </p>
                    </address>
                    <br/>

                    <h3>Social</h3>

                    <!--<p><i class=" icon-git icon"></i> <a-->
                    <!--th:href="${profile.contact.github}">Github</a></p>-->

                    <!--<p><i class="icon-linked_in icon"></i> <a-->
                    <!--th:href="${profile.contact.linkedIn}">Linkedin</a>-->
                    <!--</p>-->

                    <tr th:each="link,iterationStatus  : ${profile.contact.linkList}">
                        <!--<div th:if="${#strings.containsIgnoreCase(link.name,'git')}">-->
                        <!--<a th:href="${link.url}"-->
                        <!--th:title="${link.name}">-->
                        <!--<i style="margin-right: 0.5em; color: #EEEEEE;" th:class="${link.icon}"></i></a>-->
                        <td>
                            <p><i th:class="${link.icon}"></i> <a
                                    th:href="${link.url}" th:text="${link.name}"></a></p>
                        </td>
                    </tr>

                </div>
                <div class="s-12 m-12 l-5">
                    <h3>Send message to me </h3>

                    <form class="customform" action="">
                        <div class="s-12"><input name="" placeholder="Your e-mail" title="Your e-mail" type="text"/>
                        </div>
                        <div class="s-12"><input name="" placeholder="Your name" title="Your name" type="text"/></div>
                        <div class="s-12"><textarea placeholder="Your massage" name="" rows="5"></textarea></div>
                        <div class="s-12 m-12 l-4">
                            <button class="color-btn" type="submit">Submit Button</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div id="map-block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1247814.3661917313!2d16.569872019090596!3d48.23131953825178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8cbf758ecb9f%3A0xddeb1d26bce5eccf!2sGallayova+2150%2F19%2C+841+02+D%C3%BAbravka!5e0!3m2!1ssk!2ssk!4v1440344568394"
                width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright 2015, Vision Design - graphic zoo</p>

            <p>All images is purchased from Bigstock. Do not use the images in your website.</p>
        </div>
        <div class="s-12 l-6">
            <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design
                and coding<br> by Responsee Team</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/home.js"></script>
<script type="text/javascript">
    function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("hidden");
    }
</script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var theme_slider = $("#owl-demo");
        $("#owl-demo").owlCarousel({
            navigation: false,
            slideSpeed: 300,
            paginationSpeed: 400,
            autoPlay: 6000,
            addClassActive: true,
            // transitionStyle: "fade",
            singleItem: true
        });
        $("#owl-demo2").owlCarousel({
            slideSpeed: 300,
            autoPlay: true,
            navigation: true,
            navigationText: ["&#xf007", "&#xf006"],
            pagination: false,
            singleItem: true
        });

        // Custom Navigation Events
        $(".next-arrow").click(function () {
            theme_slider.trigger('owl.next');
        })
        $(".prev-arrow").click(function () {
            theme_slider.trigger('owl.prev');
        })
    });
</script>
</body>
</html>