<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<!--@thymesVar id="profileVo" type="com.cicidi.home.domain.vo.ProfileVo"-->
<!--@thymesVar id="objective" type="com.cicidi.home.domain.resume.Objective"-->
<!--@thymesVar id="homeViewObject" type="com.cicidi.home.domain.vo.HomeViewObject"-->
<!--@thymesVar id="album" type="com.cicidi.home.domain.vo.Album"-->
<!--@thymesVar id="item" type="com.cicidi.home.domain.vo.Item"-->
<!--@thymesVar id="webLogList" type="List<com.cicidi.home.domain.resume.WebLog>"-->
<!--@thymesVar id="webLog" type="com.cicidi.home.domain.vo.WebLog"-->
<!--@thymesVar id="geoData" type="java.util.Map;"-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/components.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/responsee.css"/>
    <link rel="stylesheet" href="/css/core.css"/>
    <link rel="stylesheet" href="/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/owl-carousel/owl.theme.css"/>
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="/css/template-style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext'
          rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/responsee.js"></script>
    <script type="text/javascript" src="/js/template-scripts.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

    <![endif]-->
</head>
<body class="size-1140">
<!-- TOP NAV WITH LOGO -->
<header>
    <div id="topbar">
        <div class="line">
            <div class="s-12 m-6 l-6">
                <p>CONTACT ME:
                    <span th:text="${profileVo.contactMe.email}"></span>
                </p>
            </div>
            <div class="s-12 m-6 l-6">
                <div class="social right">
                    <tr>
                        <td><a th:href="@{/home}"><i class="fa fa-home"></i></a></td>
                    </tr>
                    <tr th:each="linkVo,iterationStatus  : ${profileVo.contactMe.linkVoList}">
                        <td>
                            <!--<a th:if="${linkVo.name!=null AND  #strings.containsIgnoreCase(linkVo.name,'git')}"-->
                            <!--sec:authorize="hasAuthority('LINKEDINUSER')"-->
                            <!--th:href="${linkVo.url}"><i th:class="${linkVo.icon}"></i> </a>-->
                            <a th:if="${linkVo.name!=null AND  #strings.containsIgnoreCase(linkVo.name,'git')}"
                               th:href="${linkVo.url}"><i th:class="${linkVo.icon}"></i> </a>
                            <a th:if="${linkVo.name!=null AND !#strings.containsIgnoreCase(linkVo.name,'git')}"
                               th:href="${linkVo.url}"><i th:class="${linkVo.icon}"></i> </a>
                        </td>
                    </tr>
                </div>

            </div>
        </div>
    </div>
    <nav>
        <div class="line">
            <div class="s-12 l-2">
                <p class="logo">
                    <span style="font-weight:bold" th:text="${profileVo.firstName}"></span> <span
                        th:text="${profileVo.lastName}"></span></p>
            </div>
            <div class="top-nav s-12 l-10">
                <p class="nav-text">Menu</p>
                <ul class="right">
                    <li class="active-item"><a href="#carousel">Experience</a></li>
                    <li><a href="#about-me">About ME &amp;Resume</a></li>
                    <li><a href="#my-exp">Code demo</a></li>
                    <!--<li><a href="#features">TECHNOLOGY</a></li>-->

                    <li><a href="#latest-news">Git update</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#map-block">PLACES</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div th:each="item,iterStat :${profileVo.album.itemList}">
                <div class="item" th:attr="job-index=${iterStat.index}">
                    <div>
                        <img th:src="${item.imgSrc}" alt=""/>

                        <div class="popup">

                            <P><span class="popuptext" th:id="${'popUp'+iterStat.index}"
                                     th:text="${item.title}"
                                     th:attr="jd-index=${iterStat.index}">A Simple Popup!</span>
                            </P>
                        </div>
                    </div>

                    <div class="line">
                        <div class="text hide-s">
                            <div class="line">
                                <div class="prev-arrow hide-s hide-m">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="next-arrow hide-s hide-m">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>

                            <h2 th:text="${item.title}"></h2>

                            <!--<h3 th:text=" ${job.startName+' - '+job.endName+' • '+job.length+' • '+job.address.city+','+job.address.state}"></h3>-->
                            <h3 th:text=" ${item.subTitle}"></h3>

                            <h3 th:if=" ${item.subTitle_2!=null}" th:text=" ${item.subTitle_2}"></h3>


                            <tr style="padding: 0em" th:each="bullet:${item.bulletList}">
                                <td style="padding: inherit">
                                    <p class="jd" th:text=" ${bullet.content}"
                                       th:attr="jd-detail-val=${bullet.bulletListvalue}"></p>
                                </td>
                            </tr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about-me">
        <div id="first-block">
            <div class="line">
                <h1 th:text="${profileVo.aboutMe.header}"></h1>

                <p th:text="${profileVo.aboutMe.subtitle}"></p>

                <div class=" s-12 m-4 l-2 center"><a class="color-btn" th:href="@{/downloadResume}">Download resume</a>
                </div>
            </div>
        </div>
        <!--<div class="s-12 m-12 l-3 media-container">-->
        <!--<img th:src="${profileVo.aboutMe.img}" alt=""/>-->
        <!--</div>-->
        <article class="s-12 m-9 l-6">
            <h2>Why I create this website</h2>
            <!--<h2 th:text="${profileVo.aboutMe.header}">Why I create this website</h2>-->

            <p th:text="${profileVo.aboutMe.paragraph}"></p>

            <div class=" about-me-icons">
                <h3>Follow me : </h3>
                <tr th:each="linkVo,iterationStatus  : ${profileVo.contactMe.linkVoList}">
                    <!--<div th:if="${#strings.containsIgnoreCase(link.name,'git')}">-->
                    <td>
                        <!--<div><a th:if="${linkVo.name!=null AND  #strings.containsIgnoreCase(linkVo.name,'git')}"-->
                        <!--sec:authorize="hasAuthority('LINKEDINUSER')"-->
                        <!--th:href=" ${linkVo.url}"-->
                        <!--th:title="${linkVo.name}">-->
                        <div><a th:if="${linkVo.name!=null AND  #strings.containsIgnoreCase(linkVo.name,'git')}"
                                th:href=" ${linkVo.url}"
                                th:title="${linkVo.name}">
                            <i style="margin-right: 0.8em; color: #EEEEEE;" th:class="${linkVo.icon}"></i></a>
                            <a th:if="${linkVo.name!=null AND !#strings.containsIgnoreCase(linkVo.name,'git')}"
                               th:href=" ${linkVo.url}"
                               th:title="${linkVo.name}">
                                <i style="margin-right: 0.5em; color: #EEEEEE;" th:class="${linkVo.icon}"></i></a>
                        </div>
                    </td>
                </tr>

            </div>
        </article>
    </div>

    <!-- CODE DEMO -->
    <div id="my-exp">
        <div class="line">
            <h2 class="section-title">Recipes</h2>

            <div class="tabs">
                <div class="tab-item tab-active">
                    <a class="tab-label active-btn">Spring Framework</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text">
                                    <h4>Spring MVC + Boot</h4>

                                    <p>The website is using SpringMVC and SpringBoot.</p></div>
                                <img src="/img/info/spring_mvc.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Spring scoial</h4>

                                    <p>You can signup as normal user or signup with your linkedin account. Then you
                                        would have access to my github and I am able pull your profile from linkedin.
                                        You would see your profile on my web</p></div>
                                <img src="/img/info/spring_social.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Spring security</h4>

                                    <p>Only Linkinedin-Signin user has authority to see my github link icon.(I disable
                                        this feature per vistor request, but available in source code)</p></div>
                                <img src="/img/info/spring_security.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Spring data</h4>

                                    <p>All data is persistent by Spring data and JPA in MySQL</p></div>
                                <img src="/img/info/spring_data.jpg" alt=""/></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <a class="tab-label">Domain and Database</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>domain model</h4>

                                    <p>This is the domain model of a resume</p></div>
                                <img src="/img/info/db_domain.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Relationship</h4>

                                    <p>With all kinds of,such as OneToOne, OneToMany,relationship mapping</p></div>
                                <img src="/img/info/db_domain-relation.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Rational database</h4>

                                    <p>Data persistent in MySQL on aws</p></div>
                                <img src="/img/info/db_database.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>User Roles and Data Encryption</h4>

                                    <p>User authority and your password is encrypted</p></div>
                                <img src="/img/info/db_encryption.jpg" alt=""/></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <a class="tab-label">Front End and DevOps</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>AWS EC2</h4>

                                    <p>The application is running on AWS EC2 ubuntu.</p></div>
                                <img src="/img/info/aws_instance.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Google Map</h4>

                                    <p>I am using google map js and API to show company and university location.</p>
                                </div>
                                <img src="/img/info/fe_googlemap.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Thymeleaf</h4>

                                    <p>The page is mainly use Thymeleaf .</p></div>
                                <img src="/img/info/fe_thymeleaf.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Javascript and jQuery</h4>

                                    <p>When you move the mouse over the bullet, will popup more detail.</p></div>
                                <img src="/img/info/fe_popup.jpg" alt=""/></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <a class="tab-label">Other Technologies</a>

                    <div class="tab-content">
                        <div class="margin">
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>WebService and APIs</h4>

                                    <p>I use github API to show my latest git commit.Click on it will get to my source
                                        code</p></div>
                                <img src="/img/info/jee_ws_githublink.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Crawler</h4>

                                    <p>LinkedIn Api only provide me your latest position data. I try to use crawler pull
                                        all positions info from real linkedin url. However,linkedin might block
                                        aws instance ip. So you might see only one positions your profile page.
                                    </p></div>
                                <img src="/img/info/jee_crawler.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>JAXB</h4>

                                    <p>All my personal data (resume) is nothing but a xml file.</p></div>
                                <img src="/img/info/jee_xml-resume.jpg" alt=""/></a></div>
                            <div class="s-12 m-6 l-3"><a class="my-exp-container lightbox margin-bottom">
                                <div class="my-exp-text"><h4>Apache FOP</h4>

                                    <p>I generate a pdf resume from the xml file.You can download it from this page</p>
                                </div>
                                <img src="/img/info/jee_pdf-resume.jpg" alt=""/></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FEATURES -->
    <!--<div id="features">-->
    <!--<div class="line">-->
    <!--<div class="margin">-->
    <!--<tr th:each="item:${profileVo.feature.itemList}">-->
    <!--<td>-->
    <!--<div class="s-12 m-6 l-3 margin-bottom">-->
    <!--&lt;!&ndash;<i class="icon-tablet icon3x"></i>&ndash;&gt;-->
    <!--<i th:class="${item.imgSrc}"></i>-->

    <!--<h2 th:text="${item.title}"></h2>-->

    <!--<p th:text="${item.subTitle}"></p>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- ABOUT US -->


    <!-- SERVICES -->
    <!--<div id="skill-sets">-->
    <!--<div class="line">-->
    <!--<h2 class="section-title">What we do</h2>-->

    <!--<div class="margin">-->
    <!--<div class="s-12 m-6 l-4 margin-bottom">-->
    <!--<i class="icon-vector"></i>-->

    <!--<div class="service-text">-->
    <!--<h3>We create</h3>-->

    <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
    <!--tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="s-12 m-6 l-4 margin-bottom">-->
    <!--<i class="icon-eye"></i>-->

    <!--<div class="service-text">-->
    <!--<h3>We look to the future</h3>-->

    <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
    <!--tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="s-12 m-12 l-4 margin-bottom">-->
    <!--<i class="icon-random"></i>-->

    <!--<div class="service-text">-->
    <!--<h3>We find a solution</h3>-->

    <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
    <!--tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- LATEST NEWS -->
    <div id="latest-news">
        <div class="line">
            <h2 class="section-title" style="color: #FFFFFF">GIT UPDATE</h2>

            <div class="margin">
                <tr th:each="webLog:${profileVo.webLogList}">
                    <td>
                        <div class="s-12 m-6 l-6">
                            <div class="s-12 l-2">
                                <div class="news-date">
                                    <p th:class="day" th:text="${webLog.day}"></p>

                                    <p th:class="month" th:text="${webLog.month}"></p>

                                    <p th:class="year" th:text="${webLog.year}"></p>
                                </div>
                            </div>
                            <div class="s-12 l-10">
                                <div class="news-text">
                                    <h4 th:text="${webLog.title}">Git check it</h4>
                                    <!-- only LINKEDINUSER can see my source code-->
                                    <!--<a sec:authorize="hasAuthority('LINKEDINUSER')" th:href="${webLog.link}">-->
                                    <!--<p th:text="${webLog.message}"></p>-->
                                    <a th:href="${webLog.link}">
                                        <p th:text="${webLog.message}"></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </div>
        </div>
    </div>
    <!-- CONTACT -->
    <div id="contact">
        <div class="line">
            <h2 class="section-title">CONTACT ME</h2>

            <div class="margin">
                <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                    <img th:src="${profileVo.contactMe.profileImg}" alt=""/>
                </div>
                <div class="s-12 m-12 l-4 margin-bottom right-align">
                    <h3 th:text="${profileVo.firstName+' '+profileVo.lastName}"></h3>
                    <address>
                        <!--<p th:text="${profile.contact.address.fullAddress}"><strong>Adress:</strong></p>-->

                        <!--<p th:text="${profile.contact.address.country}"><strong>Country:</strong></p>-->

                        <!--<p th:text="${profile.contact.email}"><strong>E-mail:</strong></p>-->

                        <p>
                            <span style="font-weight:bold">Address:</span>
                            <span th:text="${profileVo.contactMe.fullAddress}"></span>
                        </p>

                        <p>
                            <span style="font-weight:bold">Country:</span>
                            <span th:text="${profileVo.contactMe.country}"></span>
                        </p>

                        <p>
                            <span style="font-weight:bold">E-mail:</span>
                            <span th:text="${profileVo.contactMe.email}"></span>
                        </p>
                    </address>
                    <br/>

                    <h3>Links</h3>

                    <tr th:each="linkVo,iterationStatus  : ${profileVo.contactMe.linkVoList}">
                        <td>
                            <span>
                                   <!--<a th:href="${linkVo.url}">-->
                                <!--<i th:class="${linkVo.icon}" style="background: #504e4e"></i></a>-->
                                <!--<a th:if="${linkVo.name!=null AND  #strings.containsIgnoreCase(linkVo.name,'git')}"-->
                                <!--sec:authorize="hasAuthority('LINKEDINUSER')"-->
                                <!--th:href=" ${linkVo.url}">-->
                                <!--<i th:class="${linkVo.icon}" style="background: #504e4e"></i>-->
                            <a th:if="${linkVo.name!=null AND  #strings.containsIgnoreCase(linkVo.name,'git')}"
                               th:href=" ${linkVo.url}">
                                <i th:class="${linkVo.icon}" style="background: #504e4e"></i>
                            </a>
                            <a th:if="${linkVo.name!=null AND !#strings.containsIgnoreCase(linkVo.name,'git')}"
                               th:href=" ${linkVo.url}">
                                <i th:class="${linkVo.icon}" style="background: #504e4e"></i>
                            </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <a th:href="@{/downloadResume}">
                                    <i class="fa fa-file-pdf-o" style="background: #504e4e"></i></a>
                            </span>
                        </td>
                    </tr>


                </div>
                <div class="s-12 m-12 l-5">
                    <h3>Send message to me </h3>

                    <form class="customform" action="">
                        <div class="s-12"><input name="" placeholder="Your e-mail" title="Your e-mail" type="text"
                                                 disabled="true"/>
                        </div>
                        <div class="s-12"><input name="" placeholder="Your name" title="Your name" type="text"
                                                 disabled="true"/></div>
                        <div class="s-12"><textarea
                                placeholder="Email function is not implemented so far, will come soon. if you want connect me, please send email via your Outlook or browser"
                                name="" rows="5" disabled="true"></textarea></div>
                        <div class="s-12 m-12 l-4">
                            <button class="color-btn" type="submit">Submit Button</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="map-block">
        <h2 class="section-title" style="margin:0 0 0 0;background-color: #ffffff">PLACES I STUDY AND WORK BEFORE</h2>

        <div id="googleMap" class="googleMap" th:attr="geo-data=${profileVo.places.geoDataJson}">
        </div>
    </div>
</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>Website create by Walter Chen</p>

        </div>
        <div class="s-12 l-6">
            <a class="right" href="http://www.ganshaa.com" title="cicidi - lightweight responsive framework">Design
                and coding<br/> Walter Chen</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
<script type="text/javascript" src="/js/googleMap.js"></script>
<!--<script type="text/javascript">-->
<!--function myFunction() {-->
<!--var popup = document.getElementById("myPopup");-->
<!--popup.classList.toggle("hidden");-->
<!--}-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--jQuery(document).ready(function ($) {-->
<!--var theme_slider = $("#owl-demo");-->
<!--$("#owl-demo").owlCarousel({-->
<!--navigation: false,-->
<!--slideSpeed: 300,-->
<!--paginationSpeed: 400,-->
<!--autoPlay: 6000,-->
<!--stopOnHover: true,-->
<!--addClassActive: true,-->
<!--// transitionStyle: "fade",-->
<!--singleItem: true-->
<!--});-->
<!--$("#owl-demo2").owlCarousel({-->
<!--slideSpeed: 300,-->
<!--autoPlay: true,-->
<!--navigation: true,-->
<!--navigationText: ["&#xf007;", "&#xf006;"],-->
<!--pagination: false,-->
<!--singleItem: true-->
<!--});-->

<!--// Custom Navigation Events-->
<!--$(".next-arrow").click(function () {-->
<!--theme_slider.trigger('owl.next');-->
<!--})-->
<!--$(".prev-arrow").click(function () {-->
<!--theme_slider.trigger('owl.prev');-->
<!--})-->
<!--});-->
<!--</script>-->
<script async='async' defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2WAbfmvicCd7eOKRzCIPS-_TfM4YUxvE&amp;callback=initMap">
</script>
</body>
</html>