<!DOCTYPE html>
<html lang="en">
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Ganshaa</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- home section -->
<section id="home" class="parallax-section" background="img/home-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Ganshaa means</h1>

                <h2>Hey, what's up.</h2>
                <a href="/login/linkedin" class="smoothScroll btn btn-default">Your Profile</a>
                <a href="/home" class="smoothScroll btn btn-default">My Profile </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>