<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Sign In</title>
</head>
<body>
<div id="header">
    <h1><a th:href="@{/}">Back to Home page</a></h1>
</div>


<div id="content" layout:fragment="content">
    <div class="jumbotron">
        <img th:src="@{/project-icon-large.png}" style="float:right;opacity:0.15;"/>

        <h1>Sign In</h1>

        <form id="signin" th:action="@{/signin/authenticate}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>

            <div class="formInfo">
                <h3 class="error" th:if="${param.error eq 'bad_credentials'}">
                    Your sign in information was incorrect.
                    Please try again or <a th:href="@{/signup}">sign up</a>.
                </h3>

                <h3 class="error" th:if="${param.error eq 'multiple_users'}">
                    Multiple local accounts are connected to the provider account.
                    Try again with a different provider or with your username and password.
                </h3>
            </div>
            <fieldset class="loginForm">
                <label for="login">Username</label>
                <input id="login" name="username" type="text" size="25"></input>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" size="25"></input>
                <br/><br/>
                <button type="submit" class="btn btn-form">Sign In</button>
            </fieldset>
            <br/>


            <p>Or you can <a th:href="@{/signup}">signup</a> with a new account.</p>
        </form>

        <!-- FACEBOOK SIGNIN -->
        <form name="lk_signin" id="lk_signin" th:action="@{/signin/linkedin}" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
            <!--<input type="hidden" name="scope" value="read_stream,user_posts,user_photos"></input>-->
            <button type="submit"><img th:src="@{/social/linkedin/signupwithlinkedin.png}"></img>
            </button>
        </form>
    </div>
</div>
</body>
</html>
